@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

*{
  padding: 0%;
  margin: 0%;
}

.app{
  background: rgb(73,94,196);
  background: radial-gradient(circle, rgba(73,94,196,1) 0%, rgba(169,158,175,1) 100%);
}